html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.invisible {
  display: none;
}
#pages {
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  width: 3072px;
  height: 768px;
  font-size: 0; /* hack for the space between inline-block elements */
}
.page {
  font-size: 12pt; /* end of hack for the space between inline-block elements */
  display: inline-block;
  vertical-align: top;
  margin: 0;
  padding: 0;
  width: 1024px;
  height: 768px;
  background: white url("popcorn.png");
  background-size: 341px;
}
::-webkit-scrollbar { 
    display: none; 
}
#welcome .credits {
  display: block;
  width: 200px;
  line-height: 200px;
  margin: 250px auto;
  padding: 10px;
  border-radius: 200px;
  color: white;
  text-align: center;
  font-size: 30pt;
  font-weight: bold;
  letter-spacing: 2px;
}
#credits, #credits span {
  display: block;
  width: 100px;
  line-height: 30px;
  margin: 10px;
  padding: 10px;
  border-radius: 25px;
  color: white;
  text-align: center;
  font-weight: bold;
  letter-spacing: 2px;
}
#booth .timer {
  display: none;
  position: absolute;
  z-index: 1000;
  margin: 0px 0 0 40px;
  width: 100px;
  line-height: 100px;
  font-size: 32pt;
  background: rgb(63, 186, 83);
  color: white;
  text-align: center;
  vertical-align: middle;
  border-radius: 100px;
}
#camera {
  display: block;
  margin: -80px auto 0px auto;
  width: 680px;
  height: 512px;
/*  -webkit-transform: scaleX(-1);*/
  transform: scaleX(-1);
}
.photobooth ul {
  display: none;
}
#photos {
  width: 680px;
  margin: 10px auto;
}
#photos .photo, #photos .photo img {
  width: 220px;
  height: 170px;
}
#photos .photo {
  display: inline-block;
  border: 1px dotted black;
}
#review {
  background: rgb(237, 242, 104) url("receipt_printer.png") no-repeat center bottom;
  background-size: 500px 500px;
}
#review #message {
  text-align: center;
  font-size: 24pt;
  background: black;
  color: white;
  border-radius: 25px;
  margin: 10px auto;
  width: 600px;
  padding: 5px;
  letter-spacing: 2px;
}
#review #strip {
  background: black;
  height: 170px;
  width: 680px;
  margin: 20px auto 20px auto;
}
#review #strip .photo, #review #strip .photo img {
  width: 220px;
  height: 170px;
}
#review #strip .photo {
  display: inline-block;
  border: 1px dotted black;
}
#review .timer {
  text-align: center;
  background: black;
  width: 300px;
  height: 100px;
  line-height: 100px;
  letter-spacing: 2px;
  padding: 5px;
  color: white;
  border-radius: 25px;
  font-size: 24pt;
  margin: 10px auto;
}
#pdf {
  display: block;
}
#NO_CREDITSCOLOR {
  color: rgb(186, 63, 63);
}
#CREDITSCOLOR {
  color: rgb(63, 186, 83);
}